.off-page{
    height:100vh;
    background-image: linear-gradient(to right top, #ccebfd, #d3ecfd, #daeefc, #e0effc, #e6f1fb);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.off-textbox{
    width:100%;
    text-align:left;
}

.off-image{
    width:50%;
}


.off-box-container{
    max-width:800px;
    top:50%;
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
}

.off-box-container .off {
    flex:1 1 21%;
}

@media(max-width:667px) {
    .off-textbox{
        text-align:center;
    }
    .off-box-container .off {
        flex:1 1 31%;
    } 
}

.off {
    border: 3px solid transparent;
    background-color:white;
    max-width:167px;
    height:167px;
    margin:10px;
    align-items:center;
    flex: 1 1 21%;
    margin:10px 10px;
    justify-content:center;
    border-radius:15px;
   
}

.off-description{
    margin-top:-15%;
}

.off-page-title {
    
}
.off-comp .off-page-subtitle {
    padding: 2rem;
color: #ADADAD;
}

.off-page-subtitle {
    color: #ADADAD;
}

.off-title{
    margin-top:1rem;
    font-size:.95rem;
    /* margin-bottom: 0rem; */
}

.off:hover{
    border:3px solid rgb(134, 191, 255);
    /* transition:.6s; */
}

.off-boxparent {
    margin-left:35px;
}

@media (max-width:667px) {

    .off-page {
        padding-top: 75px;
        height: 100%;
    }

    .off-boxparent {
        margin-left:0px;
    }

    /* PAGE */
    /* .off-box-parent {
        position: absolute;
        top: 30%;
        width: 64%;
        left: 18%;
    } */

    .off-box-container {
        /* position: absolute; */
        /* max-width: 800px; */
        top: 19%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    
    }

    /* .off-page {
        height: 1000px;
    } */

}



@media (min-width:668px) AND (max-width:1200px) {

    .off-box-container {
        /* position: absolute; */
        /* width: 100%; */
        max-width: 800px;
        top: 50%;
        justify-content: center;
        /* left: 25%; */
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        /* margin: 0px auto; */
    }


    /* .off-page {
        height: 1000px;
    } */

}

.off-title {
    color:#9f9999 !important;
}


@media(max-width:667px) {
    .off-page .offerings-container {
        min-height: 100vh;
        margin-top: 10vh;
    }
}





