





.action-contents1{
    /* height:100%; */
/* background-image: linear-gradient(to left top, #ccebfd, #d3ecfd, #daeefc, #e0effc, #e6f1fb); */
/* background-color:rgba(134, 191, 255,0.5); */
     padding-left: 0px;
     display: flex;
     align-items: center;
     justify-content: center;
     max-height:100%;
}
.action-contents2{
    height:100%;
    /* background-color:rgba(134, 191, 255, 0.5); */
/* background-image: linear-gradient(to right top, #ccebfd, #d3ecfd, #daeefc, #e0effc, #e6f1fb); */
     padding-left: 0px;
     display:flex;
     align-items:center;
     text-align:center;
     max-height:100%;
}

@media (max-width:767px) {
.action-contents1{
    /* min-height:75vh; */
/* background-image: linear-gradient(to right bottom, #ccebfd, #d3ecfd, #daeefc, #e0effc, #e6f1fb); */
}

.action-contents2{
    /* min-height:125vh; */
/* background-image: linear-gradient(to right top, #ccebfd, #d3ecfd, #daeefc, #e0effc, #e6f1fb); */
max-height:100%;
}
}

.action-text-box{
    padding:10%;
}


.circle-lines {
    /* width:75%; */

}

@media(min-width:767px) and (max-width:1200px) {
    .action-text-box{ 
        top:15%;
    }
    .circle-lines {
        top:35%;
    }
}

@media(max-width:766px) {
    .action-text-box {
        top:-15%;
    }
}




.action-text{
width:100%;
text-align:left;
}


.numbers-list{
    font-size:2em;
    margin:5px;
}


.offerings-btn{
    background-color:#86BFFF;
    color:white;
    /* width:50%; */
    margin:25px;
}

.offerings-btn:hover {
    box-shadow: 0 0 20px #86bfffd1;
    transition: .6s;
}

.btn:hover {
    color:white;
    box-shadow: 0 0 20px #86bfffd1;
    /* color: white !important; */
    text-decoration: none;
}


.dipper-4 {
    opacity: .25;
    position: absolute;
    bottom: -10%;
    right: -20%;
    z-index:-1;
}
.action-header {
    margin: 25px auto;
    text-align: left;
}
@media (max-width:667px) {
    .dipper-4 {
        bottom: -10%;
        right:-50%;
    }
    .action-header { 
        text-align:center;
    }
}



.action-text-box {
    font-size:.85rem;
}