.navbar-brand {
  position: fixed;
  padding-left: 3rem;
}

.nav {
  background-color: transparent !important;
}

.justify-content-center.navbar-nav {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff7a;
  font-weight: 400;
}

/* .navbar-light .navbar-nav .nav-link.active {
  color: white;
  font-weight: 400;
  opacity: 1;
} */

.nav-link:hover {
  /* color: white !important; */
  opacity: 0.5;
}

.nav-link {
  margin: 0px 18px;
}

.nav-arrow {
  position: absolute;
  right: 25px;
  top: 40px;
  width: 25px;
  cursor: pointer;
}

.cta-nav-btn {
  position: absolute;
  right: 25px;
  top: 25px;
  padding-right: 3rem;
  padding-top: 0.3125rem;
}

.btn-primary {
  border-color: transparent;
  background-color: transparent;
}

.fixed-top {
  height: 125px;
}

@media (max-width: 667px) {
  .justify-content-center.navbar-nav {
    display: none;
  }

  .fixed-top {
    /* height: 75px; */
  }
}
@media (max-width: 850px) {
  .cta-nav-btn {
    padding-right: 0;
  }
}


.nav-item .offerings-btn-link:hover {
  color:#F0DED1 !important;
  box-shadow: 0 0 20px white !important;
}

.offerings-btn-link:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 20px #B67368d1;
  transition: 0.6s;
}
