.nav-box {
  display: flex;
  justify-content: space-between;
  max-width: 50vw;
  margin: 0px auto;
  padding: 25px;
}
a {
  color: #B67368;
  z-index: 5000;
}

a:hover {
  text-decoration: none;
  color: initial;
  /* opacity:.75; */
}

.works-container {
  text-align: left;
  padding: 10%;
  min-height: 100vh;
}

.works-image {
  filter:grayscale(1);
  width: 100%;
  max-width: 700px;
  text-align: left;
  /* float: left; */
}
.off-image-2 {
  margin-top: 10%;
  margin-right: 5%;
  width: 100%;
  max-width: 700px;
  text-align: left;
  /* float: left; */
}

.works-description {
  padding: 25px;
}

.works-title {
  font-size: 3rem;
  color: #B67368;
  margin-bottom: 25px;
}

.modal-description {
  color: #8b8b8b;
}

.modal-price {
  color: #8b8b8b
}

.off-image-container {
  display: inline-block;
}

.additional-pics {
  /* margin: 5%; */
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 997px) {
  .additional-pics {
    padding: 15%;
    margin-left: 0%;
  }

  .content-row {
    margin-top: 10%;
  }
}

@media (max-width: 667px) {

  .works-container {
    margin-top:75px;
  }

  .works-image {
    width: 50%;
  }

  .off-image-container {
    text-align:center;
  }

  .works-description {
    margin: 10% auto;
    padding: 5px;
  }

  .additional-pics {
    margin-left: 0%;
  }
}
