.footer-div {
    /* position:absolute;
    top:25%; */
}


.footer-div a:hover {
    color:rgb(240, 222, 209);
}

.policy-text, .policy-text a{
    margin-top:25px;
    color:#F8F5F2;
}

.link-wrapper {
    display:flex;
    flex-direction: row;
    gap:15px;
}

.social-wrapper{
    padding:15px;
}

.link-wrapper a, .social-wrapper a {
    color:#F8F5F2;
    margin:25px 0px;
}

.footer-content-box {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    color: white;
    text-align:center;
  }

.comet-image{
    width:5%;
    margin-top: -1%;
}

.footer-content-box > img {
    width:250px;
    margin:50px 0px;
}

.footer-div .col {
    /* filter:grayscale(1); */
    /* background-color:#B67368 !important; */
}

@media (max-width:667px) {
    .comet-image {
        width: 25%;
        margin-top: -7.5%;
    }
}
