/* 
.testimonial-comp {
    height:100%;
    background-color:#F0DED1;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    overflow:hidden;
}

.testimonial-comp .offerings-container {
    margin:50px 0px;
}
.testimonial-comp .off-description {
    margin-top:0px;
    padding:10px;
    color:#364f41 !important;
}

.testimonial-comp .off {
    border: 3px solid transparent;
    width: 600px;
    height: 550px !important;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 455px;
   
}

.testimonial-comp .off-box-container .off {
    flex: 0 1 43% !important;
}

@media(max-width:667px) {
    .testimonial-comp .off { 
max-width:325px;
    }
    .testimonial-comp .off-box-container .off {
        flex: 1 1 50% !important;
    }

    .testimonial-comp .off-textbox {
        text-align:center;
    }

}

.quote-icon {
    position:absolute;
    top:15px;
    left:15px;
    font-size:24px;
   
    color:#B67368;
}

 */


 .testimonials-component {
     display:flex;
     justify-content: center;
     align-items: center;
     height:100%;
     width:100%;
     min-height:50vh;
     padding:50px 0px;
 }

 .testimonials-content {
     max-width:1200px;
     text-align: center;
 }

 .testimonials-content h1, .testimonials-content h3 {
     font-weight:bold;
 }


 .testimonials-content * {
     margin:10px 0px;
     color:rgb(182, 115, 104);
 }

 .testimonials-component .slick-next:before,  .testimonials-component .slick-prev:before {
     color:#B57063;
 }

 .testimonials-component .slick-prev {
    left: 45%;
    top:100%;
    z-index:900
}
 .testimonials-component .slick-next {
    right: 45%;
    top:100%;
    z-index:900
}

@media(max-width:997px) {
    .testimonials-content {
        width:90%;
    }
    .testimonials-component .slick-prev {
        left: 35%;
        top:95%;
    }
     .testimonials-component .slick-next {
        right: 35%;
        top:95%;
    }
}