.quote-contents {
    text-align:center;
    margin-top:35px;
}

.quote-contents > *{
    width:75%;
    margin:0px auto;
    font-size:24px;
}

.quote-contents i {
    color:#364f41;
}

.moons-image{
    filter:grayscale(1);
    width:5rem;
}