.quote-contents {
    text-align:center;
    margin-top:35px;
}

.quote-contents > *{
    width:50%;
    margin:0px auto;
    font-size:24px;
}

.quote-contents i {
    color:#9f9999;
}

.moons-image{
    width:5rem;
}