.bio-component {
    min-height: 100%;
    max-width: 2000px;
    margin: 100px auto;
}

.bio-header {
    text-align:center;
    padding:50px 0px;

  }

.bio-text{
    text-align:center;
    padding:0px 25px;
}

.bio-text-box > hr {
    margin: 50px auto;
}

.bio-text-box button {
    margin: 0px 25px;
}

@media (min-width:667px) {
    .bio-text-box{
        /* position:absolute; */
        margin-top:7.5%;
        margin-left:25%;
    }
    .bio-text {
        font-size:15px;
         width:75%;
         text-align:left;
     }
     .bio-header {
        text-align:left;
        padding: 15px 25px;
      }
      .bio-text-box > hr {
        margin: 50px 0px;
    }
}

.bio-line{
 width:75%;
 margin-right:50%;
}


.bio-col {
    /* min-height:600px; */
    /* max-height:800px; */
}

.dipper-2 {
    position: absolute;
    opacity: .25;
    top: 5%;
    left: 65%;
}

@media (max-width:667px) {
    .bio-text-box{
        text-align:center;
    }
}

