/* MODAL  */


.offerings-modal {
    position:fixed;
    width:100%;
    height:110vh;
    backdrop-filter:blur(2px);
    background-color:rgba(134, 191, 255, 75%);
    /* opacity:.5; */
    background-blend-mode:blur;
    z-index:1050;
  
}


.prev-modal-box {
    position: fixed;
    left: -15%;
    top: 50%;
    margin-top: -250px;
    min-height:500px;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    opacity: 1;
    z-index: 100;
    transition: .6s;
    text-align:center;
}
.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -250px;
    min-height:500px;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    opacity: 1;
    z-index: 100;
    text-align:center;
}
.next-modal-box{
    position:fixed;
    right:-15%;
    top:50%;
    margin-top:-250px;
    min-height: 500px;
    max-height: 500px;
    width:400px;
    background-color:white;
    border-radius:25px;
    opacity:1;
    z-index:100;
    transition:.6s;
    text-align:center;
}


@media(max-width:667px) {
    .prev-modal-box {
        left:-25%;
        }
        
        .next-modal-box{
        right:-25%;
        }

}



.modal-description {
    color:#ADADAD;
    padding:0px 5px;
}

.arrow-left , .arrow-right {
    position:absolute;
    top:50%;
    color:white;
    font-size:24px;
    cursor:pointer;
}
.arrow-left:hover , .arrow-right:hover {
    transform:scale(1.2);
    transition:.4s ease-out;
}


.arrow-left {
    left:25%;
}

.arrow-right {
    right:25%;
}

.exit-btn {
    cursor: pointer;
    position:fixed;
    top:10%;
    right:25%;
    color:white;
    font-size:16px;
}


.footer-div{
    /* display:none; */
}


@media (max-width:997px) {
    /* MODAL  */

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    /* height: 50vh; */
    margin-left: -37.5%;
    /* margin-top: -25%; */
    /* min-height: 65%; */
    width: 75%;
    background-color: white;
    border-radius: 25px;
    opacity: 1;
    z-index: 100;
}

.arrow-right {
    right:5%;
}
.arrow-left {
    left: 5%;
}


.prev-modal {
    display:none;
}
.next-modal {
    display:none;
}

.off-image {
    width: 55%;
}
}

@media (max-width:667px) {
    .offerings-modal {
        margin-top:-250px;
    }

    .modal-box {
        position: fixed;
        left: 50%;
        top: 50%;
        /* height: 50vh; */
        margin-left: -37.5%;
        margin-top: -200px;
        min-height:400px;
       max-height:400px;
        width: 75%;
        background-color: white;
        border-radius: 25px;
        opacity: 1;
        z-index: 100;
    }
    .exit-btn {
        top:15%;
        right:15%;
    }
}

/* PLUS SIZE PHONES */
@media(max-width:412px) {
    .modal-box .off-image {
        width: 40%;
    } 
}


/* Iphone 6/7/8 */
@media (max-width:375px) {
    .modal-box .off-image {
        width: 25%;
    }

    .modal-box h1 {
        font-size:1.5rem;
    }

    .modal-box .modal-description {
        font-size:.80rem;
    }
}


/* SMALL PHONES */
@media (max-width:321px) {
    .exit-btn {
        top:15%;
    }
    .modal-box {
        position: fixed;
        left: 50%;
        top: 55%;
        /* height: 50vh; */
        margin-left: -37.5%;
        margin-top: -200px;
       height:400px;
        width: 75%;
        background-color: white;
        border-radius: 25px;
        opacity: 1;
        z-index: 100;
    }
}
